<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "List items" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">List items</h1>
    <%= link_to "New list item", new_list_item_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <ul id="list_items" class="list-none min-w-full">
    <%= render @list_items %>

    <li id="dropzone" class="hidden mx-auto max-w-7xl my-5">
      <x-placeholder>
        <div class="relative h-4 overflow-hidden rounded-xl border border-dashed border-gray-400 opacity-75">
          <svg class="absolute inset-0 h-full w-full stroke-gray-900/10" fill="none">
            <defs>
              <pattern id="pattern-87beeb02-b726-4cd1-be69-ae5bc27986e9" x="0" y="0" width="10" height="10" patternUnits="userSpaceOnUse">
                <path d="M-3 13 15-5M-5 5l18-18M-1 21 17 3"></path>
              </pattern>
            </defs>
            <rect stroke="none" fill="url(#pattern-87beeb02-b726-4cd1-be69-ae5bc27986e9)" width="100%" height="100%"></rect>
          </svg>
        </div>
      </x-placeholder>
    </li>

  </ul>
</div>
